{% extends "base.html" %}
{% set content = {
title: 'Bolsão 2026 - Inscreva-se',
description: 'Conquiste seu futuro com quem acredita em você! Inscreva-se no Bolsão Matriz 2026 e garanta descontos
especiais. Próxima prova: 04/10',
keywords: 'matriz educação, bolsão 2026, inscrição, educação, ensino fundamental, ensino médio, bangu, campo grande,
nova iguaçu',
page: 'home'
} %}

{% block content %}

<section id="inscricao" class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-2 order-lg-1">
        <div class="content__text">
          <h2 class="display-5 mb-3 js-page-title">
            <span>Próxima Prova 04/10</span>
            <strong class="d-block">Descontos Especiais</strong>
          </h2>
          <div class="js-page-content">
            <p>Conquiste seu futuro com quem acredita em você!</strong></p>
            <p>Com mais de <strong>3.000 aprovações</strong> em concursos militares e vestibulares, temos orgulho de
              promover transformação e mobilidade social através da <strong>alta performance pedagógica.</strong></p>
            <p>No Matriz Educação, cada estudante é visto como único. Mais do que aprender, queremos transformar. Nossa
              missão vai além da sala de aula: formamos cidadãos com pensamento crítico, preparados para os desafios do
              futuro e comprometidos com valores que constroem uma sociedade melhor.</p>
            <p>O Bolsão Matriz 2026 é a sua oportunidade de conquistar uma bolsa de estudos e vivenciar um ensino de
              excelência que une rigor acadêmico, tecnologia, acolhimento e valores que constroem seres humanos.</p>
            <p>Venha fazer parte do Matriz Educação.</p>
          </div>
          <ul class="info-list js-page-list">
            <li>
              <i class="bi bi-calendar-fill"></i>
              <span>Sábado: 04/10</span>
            </li>
            <li>
              <i class="bi bi-clock-fill"></i>
              <span>9h</span>
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <span>Local: Todas as unidades</span>
            </li>
            <li>
              <i class="bi bi-bank2 dark"></i>
              <strong>Conheça nossas unidades:</strong>
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Bangu:</strong> Rua Agricola, 318
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Campo Grande:</strong> Rua Professor Gonçalves, 41
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Caxias:</strong> Rua Marcílio Dias, 113
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Madureira:</strong> Rua Américo Brasiliense, 184
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Nova Iguaçu:</strong> Humberto Gentil Baroni, 189
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Rocha Miranda:</strong> Rua dos Topázios, 375
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>São João de Meriti:</strong> Rua Coronel Henrique da Fonseca, 228
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Taquara:</strong> Rua Padre Ventura, 200
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Tijuca:</strong> Rua Professor Gabizo, 334
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Retiro dos Artistas:</strong> Rua Retiro dos Artistas, 812
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-5 order-1 order-lg-2">
        <div class="content__form">
          <h3 class="display-7 mb-4 js-form-title">Juntos
            transformamos <br>
            seu futuro
            em vitória.</h3>
          <form id="form" class="registration-form needs-validation" novalidate>
            <div class="mb-3">
              <label for="responsavel" class="form-label">Nome do(a) responsável*</label>
              <input type="text" class="form-control" id="responsavel" required>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">E-mail*</label>
              <input type="email" class="form-control" id="email" required>
            </div>

            <div class="mb-3">
              <label for="celular" class="form-label">Celular (DDD + Telefone)*</label>
              <input type="tel" class="form-control js-mask" id="celular"
                data-maska="['(##) ####-####', '(##) #####-####']" required>
            </div>

            <div class="mb-3">
              <label for="aluno" class="form-label">Nome do(a) futuro(a) aluno(a)*</label>
              <input type="text" class="form-control" id="aluno" required>
            </div>

            <div class="mb-3">
              <label for="unidade" class="form-label">Unidade*</label>
              <select class="form-select" id="unidade" required>
                <option value="" selected disabled></option>
                <option value="bangu">Bangu</option>
                <option value="campo-grande">Campo Grande</option>
                <option value="caxias">Caxias</option>
                <option value="madureira">Madureira</option>
                <option value="nova-iguacu">Nova Iguaçu</option>
                <option value="rocha-miranda">Rocha Miranda</option>
                <option value="sao-joao-meriti">São João de Meriti</option>
                <option value="taquara">Taquara</option>
                <option value="tijuca">Tijuca</option>
                <option value="retiro-artistas">Retiro dos Artistas</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="data-bolsao" class="form-label">Data do bolsão Matriz*</label>
              <select class="form-select" id="data-bolsao" required>
                <option value="" selected disabled></option>
                <option value="18-10-2025">18/10/2025</option>
                <option value="01-11-2025">01/11/2025</option>
                <option value="13-11-2025">13/11/2025</option>
                <option value="22-11-2025">22/11/2025</option>
                <option value="06-12-2025">06/12/2025</option>
                <option value="13-12-2025">13/12/2025</option>
                <option value="20-12-2025">20/12/2025</option>
                <option value="10-01-2026">10/01/2026</option>
                <option value="17-01-2026">17/01/2026</option>
                <option value="24-01-2026">24/01/2026</option>
                <option value="31-01-2026">31/01/2026</option>
                <option value="07-02-2026">07/02/2026</option>
                <option value="28-02-2026">28/02/2026</option>
                <option value="07-03-2026">07/03/2026</option>
                <option value="14-03-2026">14/03/2026</option>
                <option value="21-03-2026">21/03/2026</option>
                <option value="28-03-2026">28/03/2026</option>
              </select>
            </div>

            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="terceiro-candidato">
                <label class="form-check-label" for="terceiro-candidato">
                  Tem 3° candidato?
                </label>
              </div>
            </div>

            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="segundo-candidato">
                <label class="form-check-label" for="segundo-candidato">
                  Tem 2° candidato?
                </label>
              </div>
            </div>

            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="termos" required>
                <label class="form-check-label" for="termos">
                  Eu li e concordo com os Termos de uso!*
                </label>
              </div>
              <small class="form-text">
                TERMO DE USO DA PLATAFORMA: <a
                  href="https://raizeducacao.com.br/politica-de-privacidade-sites-raiz-educacao/" target="_blank"
                  rel="noopener">https://raiz.click/fxqm</a>
              </small>
            </div>

            <button id="btn-inscricao" type="submit" class="btn btn-lg btn-secondary js-form-button">Confirmar
              inscrição</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "slider.html" %}

{% endblock %}

{% block modals %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="form-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fechar"></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>
{% endblock %}