{% extends "base.html" %}
{% set content = {
title: 'Bolsão 2026',
description: 'Conquiste seu futuro com quem acredita em você! Inscreva-se no Bolsão Matriz 2026 e garanta descontos
especiais.',
keywords: 'matriz educação, bolsão 2026, inscrição, educação, ensino fundamental, ensino médio, bangu, campo grande,
nova iguaçu',
page: 'home'
} %}

{% block content %}

<section id="inscricao" class="content js-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-2 order-lg-1 js-text-side-content">
        <div class="content__text">
          <h2 class="display-5 mb-3 js-page-title skeleton">
            <span>Próxima Prova <span class="js-next-date">04/10</span></span>
            <strong class="d-block">Descontos Especiais</strong>
          </h2>
          <div class="js-page-content is-skeleton">
            <span class="skeleton" style="width: 85%"></span>
            <span class="mt-4 skeleton"></span>
            <span class="skeleton"></span>
            <span class="mt-4 skeleton"></span>
            <span class="skeleton"></span>
            <span class="skeleton"></span>
            <span class="mt-4 skeleton"></span>
            <span class="skeleton"></span>
            <span class="my-4 skeleton"></span>
            <p>Conquiste seu futuro com quem acredita em você!</strong></p>
            <p>Com mais de <strong>3.000 aprovações</strong> em concursos militares e vestibulares, temos orgulho de
              promover transformação e mobilidade social através da <strong>alta performance pedagógica.</strong></p>
            <p>No Matriz Educação, cada estudante é visto como único. Mais do que aprender, queremos transformar. Nossa
              missão vai além da sala de aula: formamos cidadãos com pensamento crítico, preparados para os desafios do
              futuro e comprometidos com valores que constroem uma sociedade melhor.</p>
            <p>O Bolsão Matriz 2026 é a sua oportunidade de conquistar uma bolsa de estudos e vivenciar um ensino de
              excelência que une rigor acadêmico, tecnologia, acolhimento e valores que constroem seres humanos.</p>
            <p>Venha fazer parte do Matriz Educação.</p>
          </div>
          <ul class="info-list js-page-list is-skeleton">
            <span class="skeleton" style="width: 47%"></span>
            <span class="skeleton" style="width: 22%"></span>
            <span class="skeleton" style="width: 39%"></span>
            <span class="skeleton" style="width: 18%"></span>
            <span class="skeleton" style="width: 50%"></span>
            <span class="skeleton" style="width: 15%"></span>
            <span class="skeleton" style="width: 35%"></span>
            <span class="skeleton" style="width: 53%"></span>
            <span class="skeleton" style="width: 24%"></span>
            <span class="skeleton" style="width: 31%"></span>
            <span class="skeleton" style="width: 49%"></span>
            <span class="skeleton" style="width: 27%"></span>
            <span class="skeleton" style="width: 42%"></span>
            <span class="skeleton" style="width: 33%"></span>
            <li>
              <i class="bi bi-calendar-fill"></i>
              <span class="js-page-list-date"></span>
            </li>
            <li>
              <i class="bi bi-clock-fill"></i>
              <span class="js-day-time skeleton">9h</span>
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <span>Local: Todas as unidades</span>
            </li>
            <li>
              <i class="bi bi-bank2 dark"></i>
              <strong>Conheça nossas unidades:</strong>
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Bangu:</strong> Rua Agricola, 318
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Campo Grande:</strong> Rua Professor Gonçalves, 41
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Caxias:</strong> Rua Marcílio Dias, 113
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Madureira:</strong> Rua Américo Brasiliense, 184
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Nova Iguaçu:</strong> Humberto Gentil Baroni, 189
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Rocha Miranda:</strong> Rua dos Topázios, 375
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>São João de Meriti:</strong> Rua Coronel Henrique da Fonseca, 228
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Taquara:</strong> Rua Padre Ventura, 200
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Tijuca:</strong> Rua Professor Gabizo, 334
            </li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              <strong>Retiro dos Artistas:</strong> Rua Retiro dos Artistas, 812
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-5 order-1 order-lg-2">
        <div class="content__form">
          <h3 class="display-7 mb-4 js-form-title skeleton">Juntos
            transformamos <br>
            seu futuro
            em vitória.</h3>
          <script src="https://js.hsforms.net/forms/embed/developer/7691970.js" defer></script>
          <div class="hs-form-html" data-region="na1" data-form-id="93ff28ed-8755-4067-b488-1dfaacd8d9e2"
            data-portal-id="7691970"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "slider.html" %}

{% endblock %}

{% block modals %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="form-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fechar"></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>
{% endblock %}
